.challenge{
    display:flex;
}
.code-arena{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.code-arena, .explanation{
    width:50%;
    border:1px solid;
}
.console,.coding-area{
    height: 20%;
    border: 1px solid;
}
.coding-area{
    flex-grow: 1;
}